* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #4d4d4d;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    width: 75%;
    margin-bottom: 150px;
    justify-content: center;
}

.about-camp {
    width: 70%;
    box-shadow: 0 2px 6px rgba(34, 34, 34, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.campaign-headers {
    display: flex;
    gap: 30px;
    border-bottom: 3.5px solid rgba(191,227,225,1);
    height: 50px;
    align-items: center;
}

.camp-section {
    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donation-details {
    padding: 20px;
}

.about article {
    font-size: 17px;
}

.update-btn {
    width: 50%;
    height: 50px;
    border: none;
    box-shadow: 0 2px 6px rgba(34, 34, 34, 0.3);
    position: relative;
    margin: 30px;
    left: 23%;
    background-color: white;
}

.share-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.s-btn {
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.whatsapp-btn {
    background-color: rgb(37, 211, 102);
}

.facebook-btn {
    background-color: rgb(6, 66, 144);
}

.contribute-btn {
    background-color: rgba(191,227,225,1);
}

.main-donation-btn {
    width: 100%;
    height: 60px;
    background-color: #c5e99f;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in;
}
.main-donation-btn:hover{
    background-color: #b4e77e;
}

.payment-types {
    font-size: 9px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.donation-ways {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 30px;
}

.forward-btn {
    width: 100%;
    height: 60px;
    background-color: rgb(6, 66, 144);
    border: none;
    color: white;
}

.amount-collected {
    font-size: 34px;
}

.fundraiser-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.total-amount {
    color: gray;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.additional-info span {
    font-size: 16px;
}

.person-detail {
    display: flex;
    align-items: center;
    position: relative;
    height: 20vh;
    background-color: rgb(240, 240, 240);
}

.person-logo img {
    width: 30px;
    border-radius: 50%;
}

.person-logo {
    width: 30%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-data p {
    font-size: 14px;
}

.person-data {
    width: 70%;
    margin-top: 30px;
}

.person-data span {
    font-weight: bold;
}

.campaigner {
    border-bottom: 1px solid gray;
}

.raiser-info {
    box-shadow: 0 2px 6px rgba(34, 34, 34, 0.3);
    margin: 20px 0;
    border-radius: 10px;
}

.contact-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #c5e99f;
    border-radius: 2px;
    padding: 10px;
    transition: all 0.3s ease-in;
    cursor: pointer;

}
.contact-btn:hover{
    background-color: #b4e77e;
}
.person-name {
    color:#9ce4cf;
}

.updates {
    display: none;
}

.fund-bar {
    width: 100%;
    height: 8px;
    background-color: darkgray;
    border-radius: 10px;
}

.fund-bar-fill {
    width: 70%;
    background-color: rgba(191,227,225,1);
    height: 100%;
    border-radius: 10px;
}

.camp-image {
    height: 40vh;
    background-color: gray;
    background-image: url(/Frontend/assets/photo-1574097656146-0b43b7660cb6.avif);
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
}

.all-images {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 10px;
    background: #f9f9f9;
    width: 50%;
    box-shadow: 0px 1px 0px #cecdcd;
}

.all-images img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    scroll-snap-align: start;
    object-fit: cover;

}

.all-images::-webkit-scrollbar {
    display: none;
}

.all-images {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.post-info {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.post-img img {
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.post-id {
    color: rgb(98, 98, 254);
    font-weight: bold;
}
.campaign-heading{
    margin: 15px;
    font-size: 2.5vw;
}
@media (max-width:850px) {
    .main-container{
        flex-direction: column;
        width: 90%;
    }
    .about-camp{
        width: 100%;
    }
    .donation-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fundraiser-amount,.additional-info,.raiser-info{
        width: 100%;
    }
    .main-donation-btn{
        width: 70%;
    }

}